<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <h1>My Django framework application</h1>
  </head>
  <body>
    <header>
        <h2>Press one of the following buttons to sign up or log in</h2>
      {% if user.is_authenticated %}
        <a href="{% url 'logout' %}">logout</a>
      {% else %}
        <a href="{% url 'login' %}">login</a> / <a href="{% url 'register' %}">register</a>
      {% endif %}
      <hr>
    </header>
    <main>
      {% block content %}
      {% endblock %}
    </main>
  </body>
</html>